<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="assets/imgs/logo.png" alt="AluraGeek" class="img-fluid mt-4">
        </div>

        <div class="col-md-3">
            <ul class="list-unstyled">
                <li>¿Quienes somos?</li>
                <li>Política de privacidad</li>
                <li>Programa de fidelidad</li>
                <li>Nuestras Tiendas</li>
                <li>Quiero ser franquiciado</li>
                <li>Anuncie aquí</li>
            </ul>
        </div>

        <div class="col-md-6 form">
            <h4>Contáctanos</h4>
            <form class="row g-3">
                <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Pepito Pérez">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            </form>
        </div>

    </div>
</div>