<!-- Procesadores -->
<div class="container" *ngIf="!isDescriptionRoute">
    <h2 class="d-flex justify-content-between">
        Procesadores
        <a class="ver-todo" href="#">Ver todo <i class="fa-solid fa-arrow-right"></i></a>
    </h2>

    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 100%; height: 100%;">
                <a routerLink="/product_description"><img src="assets/imgs/products/ryzen7.png" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h3> AMD Ryzen 7</h3>
                </div>
                <div class="card-footer">
                    <b class="card-text">$999.999</b>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 100%; height: 100%;">
                <a routerLink="/product_description"><img src="assets/imgs/products/ryzen7.png" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h3>AMD Ryzen 7</h3>
                </div>
                <div class="card-footer">
                    <b class="card-text">$999.999</b>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 100%; height: 100%;">
                <a routerLink="/product_description"><img src="assets/imgs/products/ryzen7.png" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h3>AMD Ryzen 7</h3>
                </div>
                <div class="card-footer">
                    <b class="card-text">$999.999</b>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 100%; height: 100%;">
                <a routerLink="/product_description"><img src="assets/imgs/products/ryzen7.png" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h3>AMD Ryzen 7</h3>
                </div>
                <div class="card-footer">
                    <b class="card-text">$999.999</b>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Tarjetas Gráficas -->
<div class="container" *ngIf="!isDescriptionRoute">
    <h2 class="d-flex justify-content-between">
        Tarjetas Gráficas
        <a class="ver-todo" href="#">Ver todo <i class="fa-solid fa-arrow-right"></i></a>
    </h2>

    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 100%; height: 100%;">
                <a routerLink="/product_description"><img src="assets/imgs/products/graficas.png" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h3>Nvidia Zotac RTX 3050</h3>
                </div>
                <div class="card-footer">
                    <b class="card-text">$1.699.900</b>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 100%; height: 100%;">
                <a routerLink="/product_description"><img src="assets/imgs/products/graficas.png" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h3>Nvidia Zotac RTX 3050</h3>
                </div>
                <div class="card-footer">
                    <b class="card-text">$1.699.900</b>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 100%; height: 100%;">
                <a routerLink="/product_description"><img src="assets/imgs/products/graficas.png" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h3>Nvidia Zotac RTX 3050</h3>
                </div>
                <div class="card-footer">
                    <b class="card-text">$1.699.900</b>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 100%; height: 100%;">
                <a routerLink="/product_description"><img src="assets/imgs/products/graficas.png" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h3>Nvidia Zotac RTX 3050</h3>
                </div>
                <div class="card-footer">
                    <b class="card-text">$1.699.900</b>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Periféricos -->
<div class="container" *ngIf="!isDescriptionRoute">
    <h2 class="d-flex justify-content-between">
        Periféricos
        <a class="ver-todo" href="#">Ver todo <i class="fa-solid fa-arrow-right"></i></a>
    </h2>

    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 100%; height: 100%;">
                <a routerLink="/product_description"><img src="assets/imgs/products/perifericos.png" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h3>Combo teclado mouse y cascos</h3>
                </div>
                <div class="card-footer">
                    <b class="card-text">$128.999</b>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 100%; height: 100%;">
                <a routerLink="/product_description"><img src="assets/imgs/products/perifericos.png" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h3>Combo teclado mouse y cascos</h3>
                </div>
                <div class="card-footer">
                    <b class="card-text">$128.999</b>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 100%; height: 100%;">
                <a routerLink="/product_description"><img src="assets/imgs/products/perifericos.png" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h3>Combo teclado mouse y cascos</h3>
                </div>
                <div class="card-footer">
                    <b class="card-text">$128.999</b>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 100%; height: 100%;">
                <a routerLink="/product_description"><img src="assets/imgs/products/perifericos.png" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h3>Combo teclado mouse y cascos</h3>
                </div>
                <div class="card-footer">
                    <b class="card-text">$128.999</b>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Tarjetas Gráficas -->
<div class="container" *ngIf="isDescriptionRoute">
    <h2 class="d-flex justify-content-between">
        Productos similares
    </h2>

    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 100%; height: 100%;">
                <a routerLink="/product_description"><img src="assets/imgs/products/graficas.png" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h3>Nvidia Zotac RTX 3050</h3>
                </div>
                <div class="card-footer">
                    <b class="card-text">$1.699.900</b>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 100%; height: 100%;">
                <a routerLink="/product_description"><img src="assets/imgs/products/graficas.png" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h3>Nvidia Zotac RTX 3050</h3>
                </div>
                <div class="card-footer">
                    <b class="card-text">$1.699.900</b>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 100%; height: 100%;">
                <a routerLink="/product_description"><img src="assets/imgs/products/graficas.png" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h3>Nvidia Zotac RTX 3050</h3>
                </div>
                <div class="card-footer">
                    <b class="card-text">$1.699.900</b>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 100%; height: 100%;">
                <a routerLink="/product_description"><img src="assets/imgs/products/graficas.png" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h3>Nvidia Zotac RTX 3050</h3>
                </div>
                <div class="card-footer">
                    <b class="card-text">$1.699.900</b>
                </div>
            </div>
        </div>
    </div>
</div>
