<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4">Agregar un nuevo Producto</h2>
            <form>
                <div class="mb-3">
                    <label for="URL" class="form-label">URL de imagen</label>
                    <input type="url" class="form-control" id="URL" placeholder="http://imagen.png">
                </div>
                <div class="mb-3">
                    <label for="categoria" class="form-label">Categoría</label>
                    <input type="text" class="form-control" id="categoria" placeholder="Consolas">
                </div>
                <div class="mb-3">
                    <label for="nameProduct" class="form-label">Nombre del producto</label>
                    <input type="text" class="form-control" id="nameProduct" placeholder="Consolas">
                </div>
                <div class="mb-3">
                    <label for="Precio" class="form-label">Precio</label>
                    <input type="number" class="form-control" id="Precio" placeholder="$ 100.000">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Descripción del producto</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block" routerLink="/admin_menu">Agregar Producto</button>
            </form>
        </div>
    </div>
</div>