<div class="container">
    <carousel>
        <slide>
            <img src="assets/imgs/perifericos.png" alt="third slide" class="carousel-image">
            <div class="carousel-caption d-none d-md-block">
                <h3>Encuentra los mejores perifericos</h3>
                <p>Adquiere perifericos de alta calidad pa que dejes de ser tan manco.</p>
                <a href="#perifericos" class="btn btn-primary">Ver perifericos</a>
            </div>
        </slide>
        <slide>
            <img src="assets/imgs/procesadores.png" alt="first slide" class="carousel-image">
            <div class="carousel-caption d-none d-md-block">
                <h1>Febrero promocional</h1>
                <p>Todos nuestros procesadores con el 33% de descuento.</p>
                <a href="#procesadores" class="btn btn-primary">Ver procesadores</a>
            </div>
        </slide>
        <slide>
            <img src="assets/imgs/graficas.png" alt="second slide" class="carousel-image">
            <div class="carousel-caption d-none d-md-block">
                <h3>Tarjetas graficas al mejor precio</h3>
                <p>Compra tu tarjeta grafica al mejor precio.</p>
                <a href="#graficas" class="btn btn-primary">Ver graficas</a>
            </div>
        </slide>
    </carousel>
</div>